.botones{
    text-decoration: none;
    width: 100px;
    padding: 5px 5px;
    border: solid 1px $colorGris;
    background-color: $colorAmarillo;
    color: $coloNegro;
    border-radius: 5px;
    
}