#menu{
    grid-column: 1/4;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background-color:$colorGris;

    .bg-carrusel{
        background-color: rgba(0, 0, 0, 0.384);
        border-radius: 5px;
        width: auto;
    }

    .titulo{
        font-size: 40px;
        text-align: center;
        padding: 20px;
    }
    
    .SubtituloOfertas{
        padding: 5px;
        font-size: 15px;
        text-decoration: underline;
    }

    table{
        th{
            text-align: center;
            align-items: center;
            color: $colorAmarillo;
        }

        td{
            text-align: center;
            align-items: center;
        }
    }

    ul{
        list-style-type: none;
    }
}