@mixin FlexPropiedades ($wrap, $justificadoContenido) {
    display: flex;
    flex-wrap: $wrap;
    justify-content: $justificadoContenido;
}

$subtitulosConocenos:(
    relleno:5px,
    margen: 5px,
    envoltura: 23px,
    decoracionTexto: underline,
)